<a href="https://colab.research.google.com/github/stewedpeanut/python/blob/main/%E5%B0%88%E6%A1%88%E4%BA%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
train_path = '/content/drive/MyDrive/暑密班/space_titanic/train.csv'
test_path = '/content/drive/MyDrive/暑密班/space_titanic/test.csv'
gender_path = '/content/drive/MyDrive/暑密班/space_titanic/sample_submission.csv'

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm

In [88]:
train = pd.read_csv(train_path)
test = pd.read_csv(test_path)
subm = pd.read_csv(gender_path)
subm

     PassengerId  Transported
0        0013_01        False
1        0018_01        False
2        0019_01        False
3        0021_01        False
4        0023_01        False
...          ...          ...
4272     9266_02        False
4273     9269_01        False
4274     9271_01        False
4275     9273_01        False
4276     9277_01        False

[4277 rows x 2 columns]

In [94]:
id = subm['PassengerId']

In [89]:
test.columns
test.head(20)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
5,0027_01,Earth,False,F/7/P,TRAPPIST-1e,31.0,False,0.0,1615.0,263.0,113.0,60.0,Karlen Ricks
6,0029_01,Europa,True,B/2/P,55 Cancri e,21.0,False,0.0,NaN,0.0,0.0,0.0,Aldah Ainserfle
7,0032_01,Europa,True,D/0/S,TRAPPIST-1e,20.0,False,0.0,0.0,0.0,0.0,0.0,Acrabi Pringry
8,0032_02,Europa,True,D/0/S,55 Cancri e,23.0,False,0.0,0.0,0.0,0.0,0.0,Dhena Pringry
9,0033_01,Earth,False,F/7/S,55 Cancri e,24.0,False,0.0,639.0,0.0,0.0,0.0,Eliana Delazarson
10,0037_01,Earth,False,F/9/S,TRAPPIST-1e,19.0,False,339.0,3.0,136.0,237.0,0.0,Vivia Rickson
11,0040_01,Europa,False,D/2/P,TRAPPIST-1e,45.0,False,932.0,74.0,NaN,7.0,1010.0,Antino Pinoffent
12,0040_02,Europa,False,D/2/P,TRAPPIST-1e,44.0,False,0.0,1561.0,0.0,14.0,224.0,Jihda Pinoffent
13,0042_01,Mars,True,E/0/P,TRAPPIST-1e,46.0,False,0.0,0.0,0.0,0.0,0.0,Hamus Frité
14,0046_01,Earth,False,G/4/P,TRAPPIST-1e,21.0,False,0.0,0.0,0.0,1687.0,92.0,Neilda Powery
15,0046_02,Earth,False,F/11/P,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,903.0,NaN,Glene Powery
16,0046_03,Earth,False,F/11/P,TRAPPIST-1e,20.0,False,2.0,12.0,253.0,457.0,690.0,Joanny Powery
17,0047_01,Europa,True,B/0/S,TRAPPIST-1e,44.0,False,0.0,0.0,0.0,0.0,0.0,Winonon Prucerod
18,0047_02,Europa,False,NaN,TRAPPIST-1e,29.0,False,0.0,7708.0,243.0,569.0,343.0,Muons Prucerod
19,0047_03,Europa,False,B/0/S,TRAPPIST-1e,40.0,False,26.0,1925.0,8.0,3144.0,63.0,NaN

In [56]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8492 non-null   object
 1   CryoSleep     8476 non-null   object
 2   Destination   8511 non-null   object
 3   Age           8693 non-null   float64
 4   VIP           8490 non-null   object
 5   RoomService   8693 non-null   float64
 6   FoodCourt     8693 non-null   float64
 7   ShoppingMall  8693 non-null   float64
 8   Spa           8693 non-null   float64
 9   VRDeck        8693 non-null   float64
 10  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(4)
memory usage: 687.8+ KB

In [ ]:

#https://ithelp.ithome.com.tw/articles/10201106好文章
test.HomePlanet.value_counts()#每個值出現的頻率

Earth     2263
Europa    1002
Mars       925
Name: HomePlanet, dtype: int64

In [55]:
test.isnull().sum()

HomePlanet      87
CryoSleep       93
Destination     92
Age              0
VIP             93
RoomService      0
FoodCourt        0
ShoppingMall     0
Spa              0
VRDeck           0
dtype: int64

In [57]:
def clean(data):
    data = data.drop(["PassengerId", "Name", "Cabin"], axis=1)

    cols = ["VRDeck","ShoppingMall","RoomService","Spa","FoodCourt","Age"]#都是數值資料
    for col in cols:
        data[col].fillna(data[col].mean(), inplace=True) #以平均值補缺值，inplace=true: 把平均值assign給那些空格

    return data

In [87]:
train = clean(train)
test = clean(test)

KeyError: ignored

In [83]:
train_x = pd.DataFrame(train.iloc[:,:-1])
train_y = pd.DataFrame(train.iloc[:,-1])
print(f'the shape of train_x is {train_x.shape}')
print(f'the shape of test_y is {test_y.shape}')
test_x = test.iloc[:,:-1]
test_y = test.iloc[:,-1]

the shape of train_x is (8693, 10)
the shape of test_y is (4277,)

In [73]:
train_y=pd.get_dummies(train_y)
train_y.shape

(8693, 1)

In [77]:
from operator import concat
concat_data = pd.concat([train_x, test],axis = 0)
concat_dummy = pd.get_dummies(concat_data)
dummy_train = concat_dummy.iloc[:8693,:]
dummy_test = concat_dummy.iloc[8693:,:]
print(f'train data size:{dummy_train.shape}')

train data size:(8693, 16)

In [51]:
dummy_train.head(10)

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_False,CryoSleep_True,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_False,VIP_True
0,39.0,0.0,0.0,0.0,0.0,0.000000,0,1,0,1,0,0,0,1,1,0
1,24.0,109.0,9.0,25.0,549.0,44.000000,1,0,0,1,0,0,0,1,1,0
2,58.0,43.0,3576.0,0.0,6715.0,49.000000,0,1,0,1,0,0,0,1,0,1
3,33.0,0.0,1283.0,371.0,3329.0,193.000000,0,1,0,1,0,0,0,1,1,0
4,16.0,303.0,70.0,151.0,565.0,2.000000,1,0,0,1,0,0,0,1,1,0
5,44.0,0.0,483.0,0.0,291.0,0.000000,1,0,0,1,0,0,1,0,1,0
6,26.0,42.0,1539.0,3.0,0.0,0.000000,1,0,0,1,0,0,0,1,1,0
7,28.0,0.0,0.0,0.0,0.0,304.854791,1,0,0,0,1,0,0,1,1,0
8,35.0,0.0,785.0,17.0,216.0,0.000000,1,0,0,1,0,0,0,1,1,0
9,14.0,0.0,0.0,0.0,0.0,0.000000,0,1,0,0,1,1,0,0,1,0

In [78]:
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y  = train_test_split(dummy_train, train_y, test_size=0.2, random_state=10)

from sklearn.preprocessing import StandardScaler
scaler_x = StandardScaler()
sc_train_x = scaler_x.fit_transform(train_x)

In [79]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(sc_train_x,train_y)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [106]:
from sklearn.metrics import confusion_matrix
sc_test_x = scaler_x.transform(dummy_test)
y_hat = knn.predict(sc_test_x)
print(y_hat)
submi = pd.DataFrame({'PassengerID':id,'Transported':y_hat})

[ True False  True ...  True False  True]

In [107]:
submi

     PassengerID  Transported
0        0013_01         True
1        0018_01        False
2        0019_01         True
3        0021_01         True
4        0023_01        False
...          ...          ...
4272     9266_02         True
4273     9269_01        False
4274     9271_01         True
4275     9273_01        False
4276     9277_01         True

[4277 rows x 2 columns]